<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% load static %}
    <title>在线课程 | Youth DigiTech</title>

 	<link rel="icon" type="image/x-icon" href="{% static 'digiTech/images/favicon.ico' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.3.1" type="text/css" media="all" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,700,700italic&#038;subset=latin,latin-ext,cyrillic,cyrillic-ext" type="text/css" media="all" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister:400&#038;subset=latin" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'digiTech/css/fontello/css/fontello.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'digiTech/js/rs-plugin/settings.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'digiTech/css/woocommerce/woocommerce-layout.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/css/woocommerce/woocommerce-smallscreen.css' %}" type="text/css" media="only screen and (max-width: 768px)" />
    <link rel="stylesheet" href="{% static 'digiTech/css/woocommerce/woocommerce.css' %}" type="text/css" media="all" />
     <link rel="stylesheet" href="{% static 'digiTech/css/woo-style.css' %}" type="text/css" media="all"/>

    <link rel="stylesheet" href="{% static 'digiTech/css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/css/shortcodes.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/css/core.animation.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/css/tribe-style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/css/skins/skin.css' %}" type="text/css" media="all" />

	<link rel="stylesheet" href="{% static 'digiTech/css/core.portfolio.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/js/mediaelement/mediaelementplayer.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/js/mediaelement/wp-mediaelement.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/js/prettyPhoto/css/prettyPhoto.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/js/core.customizer/front.customizer.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'digiTech/js/core.messages/core.messages.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/js/swiper/idangerous.swiper.min.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'digiTech/css/responsive.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/css/skins/skin-responsive.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'digiTech/css/custom-style.css' %}" type="text/css" media="all" />

</head>

<body class="single single-product body_style_wide body_filled article_style_boxed top_panel_style_light top_panel_opacity_solid top_panel_above menu_right sidebar_show sidebar_right woocommerce woocommerce-page ">
    <a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-angle-double-up" data-url="" data-separator="yes"></a>
	<!-- Body -->
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <header class="top_panel_wrap bg_tint_light">
				<!-- User menu -->
                <div class="menu_user_wrap">
                    <div class="content_wrap clearfix">
                        <div class="menu_user_area menu_user_right menu_user_nav_area">
                            <ul id="menu_user" class="menu_user_nav">
                                <li class="menu_user_cart">
                                    <a href="#" class="cart_button"><span>购物车</span></a>
									<ul class="widget_area sidebar_cart sidebar fadeOutDown animated fast">
										<li class="">
											<div class="widget woocommerce widget_shopping_cart">
												<div class="hide_cart_widget_if_empty">
													<div class="widget_shopping_cart_content">
														<ul class="cart_list product_list_widget ">
															<li class="mini_cart_item">
																<a title="Remove this item" class="remove" href="#">×</a>													
																<a href="product-sample.html">
																	<img alt="" src="http://placehold.it/50x50">Introduction to Biomedical Imaging&nbsp;
																</a>
																<span class="quantity">1 × <span class="amount">£350.00</span></span>					
															</li>
															<li class="mini_cart_item">
																<a title="Remove this item" class="remove" href="#">×</a>													
																<a href="product-sample.html">
																	<img alt="" src="http://placehold.it/50x50">Introduction to Computer Science&nbsp;
																</a>
																<span class="quantity">1 × <span class="amount">£120.00</span></span>					
															</li>
															<li class="mini_cart_item">
																<a title="Remove this item" class="remove" href="#">×</a>													
																<a href="product-sample.html">
																	<img alt="" src="http://placehold.it/50x50">Star Print Backpack&nbsp;							
																</a>
																<span class="quantity">1 × <span class="amount">£41.39</span></span>					
															</li>						
														</ul>
														<p class="total"><strong>Subtotal:</strong> <span class="amount">£511.39</span></p>
														<p class="buttons">
															<a class="button wc-forward" href="cart.html">View Cart</a>
															<a class="button checkout wc-forward" href="checkout.html">Checkout</a>
														</p>
													</div>
												</div>
											</div>
										</li>
									</ul>
                                </li>	

                                  {% if user.is_authenticated %}
                                <li class="menu_user_controls">
                                    <a href="#">
										<span class="user_avatar">
											<img alt="" src="http://1.gravatar.com/avatar/45e4d63993e55fa97a27d49164bce80f?s=16&#038;d=mm&#038;r=g" srcset="http://1.gravatar.com/avatar/45e4d63993e55fa97a27d49164bce80f?s=32&amp;d=mm&amp;r=g 2x" class="avatar avatar-16 photo" height="16" width="16" />
										</span>
										<span class="user_name">{{ user.username }}</span></a>
                                    <ul>
                                        <li><a href="#" class="icon icon-doc-inv">我的课程</a></li>
                                        <li><a href="#" class="icon icon-cog-1">用户设置</a></li>
                                    </ul>
                                </li>

                                <li class="menu_user_logout">
									<a href="{% url 'logout' %}" class="icon icon-logout">注销</a>
								</li>
                                {% else %}
                                <li class="menu_user_logout">
									<a href="{% url 'login' %}" class="icon icon-logout">登录</a>
								</li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="menu_user_area menu_user_left menu_user_contact_area">Contact us on 0 800 123-4567 or <a href="#">support@themerex.net</a></div>
                    </div>
                </div>
				<!-- /User menu -->
				<!-- Main menu -->
                <div class="menu_main_wrap logo_left">					
                    <div class="content_wrap clearfix">
						<!-- Logo -->
                        <div class="logo">
                            <a href="index.html">
								<img src="http://placehold.it/259x30" class="logo_main" alt="">
								<img src="http://placehold.it/259x30" class="logo_fixed" alt="">
							</a>
                        </div>
						<!-- Logo -->
						<!-- Search -->
                        <div class="search_wrap search_style_regular search_ajax" title="Open/close search form">
                            <a href="#" class="search_icon icon-search-2"></a>
                            <div class="search_form_wrap">
                                <form method="get" class="search_form" action="#">
                                    <button type="submit" class="search_submit icon-zoom-1" title="Start search"></button>
                                    <input type="text" class="search_field" placeholder="" value="" name="s" title="" />
                                </form>
                            </div>
                            <div class="search_results widget_area bg_tint_light">
                                <a class="search_results_close icon-delete-2"></a>
                                <div class="search_results_content">
							</div>
                            </div>
                        </div>
						<!-- /Search -->
						<!-- Navigation -->
                       <a href="#" class="menu_main_responsive_button icon-menu-1"></a>
						<nav class="menu_main_nav_area">
							<ul id="menu_main" class="menu_main_nav">
								<li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent">
									<a href="{% url 'home' %}">主页</a>
								</li>
								<li class="menu-item menu-item-has-children"><a href="{% url 'all_courses' %}">课程</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="courses-streampage.html">All courses</a></li>
										<li class="menu-item"><a href="free-course.html">Free course</a></li>
										<li class="menu-item"><a href="paid-course.html">Paid course</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Lessons</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="free-lesson.html">Free lesson (started)</a></li>
												<li class="menu-item"><a href="free-lesson-coming-soon.html">Free lesson (coming soon)</a></li>
												<li class="menu-item"><a href="lesson-from-paid-course.html">Lesson from paid course</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="{% url 'team' %}">联系我们</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{% url 'team' %}">团队故事</a></li>
										<li class="menu-item"><a href="personal-page.html">博客</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="all_courses.html">活动信息</a></li>
							</ul>
						</nav>
						<!-- /Navigation -->
                    </div>
                </div>
				<!-- /Main menu -->
            </header>
			<!-- Page title -->
            <div class="page_top_wrap page_top_title page_top_breadcrumbs sc_pt_st1">
				<div class="content_wrap">
                    <h1 class="page_title">网站设计</h1>
                </div>
            </div>
			<!-- /Page title -->
			<!-- Content with sidebar -->
            <div class="page_content_wrap">
                <div class="content_wrap">
					<!-- Content -->					
                    <div class="content">
                        <article class="post_item post_item_single post_item_product">
                            <div class="product has-post-thumbnail">
                                <div class="images inited">
                                    <a href="http://placehold.it/2300x1533" class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto[product-gallery]">
										<img src="http://placehold.it/375x375" alt="" title="" />
									</a>
                                    <div class="thumbnails columns-5">
                                        <a href="http://placehold.it/2300x1533" class="zoom first" title="" data-rel="prettyPhoto[product-gallery]">
											<img src="http://placehold.it/50x50" alt="" title="" />
										</a>
                                        <a href="http://placehold.it/2300x1533" class="zoom" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit" data-rel="prettyPhoto[product-gallery]">
											<img src="http://placehold.it/50x50" alt="" title="" />
										</a>
                                        <a href="http://placehold.it/2300x1533" class="zoom" title="" data-rel="prettyPhoto[product-gallery]">
											<img src="http://placehold.it/50x50" alt="" title="" /></a>
                                    </div>
                                </div>
                                <div class="summary entry-summary">
                                    <h1 class="product_title entry-title">Principles of Written English, Part 2</h1>
                                    <div class="woocommerce-product-rating">
                                        <div class="star-rating" title="Rated 5.00 out of 5">
                                            <span class="width_100per">
												<strong class="rating">5.00</strong> out of 
												<span>5</span> based on 
												<span class="rating">2</span> customer ratings 
											</span>
                                        </div>
                                        <a href="#" class="woocommerce-review-link">(<span class="count">2</span> customer reviews)</a> 
									</div>
                                    <div>
                                        <p class="price"><span class="amount">&pound;85.00</span></p>
                                    </div>
                                    <div>
                                        <p>Donec in justo efficitur, sollicitudin mauris ac, aliquam augue. Curabitur at metus ac sem vulputate lacinia.</p>
                                    </div>
                                    <form class="cart" method="post" enctype="multipart/form-data">
                                        <div class="quantity">
                                            <input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" />
                                        </div>
                                        <button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>
                                    </form>
                                    <div class="product_meta">
                                        <span class="posted_in">Category: <a href="product-category.html">Language</a></span>
                                        <span class="tagged_as">Tags: 
											<a href="product-tag.html">courses</a>, 
											<a href="product-tag.html">language</a>
										</span>
                                        <span class="product_id">Product ID: <span>704</span></span>
                                    </div>
                                </div>
								<div class="clear"></div>
								<!-- Tabs -->
								 <div class="sc_tabs sc_tabs_style_1 woocommerce-tabs wc-tabs-wrapper" data-active="0">
									<ul class="sc_tabs_titles tabs wc-tabs">
										<li class="sc_tabs_title first">
											<a href="#sc_tabs_1_1" class="theme_button active">Description</a>
										</li>
									</ul>
									<div id="sc_tabs_1_1" class="sc_tabs_content odd first panel entry-content wc-tab">
										<h2>Product Description</h2>
                                        <p>Sed interdum felis diam, vitae rutrum urna laoreet vehicula. Mauris eget metus ut leo imperdiet mollis et non ipsum. In scelerisque euismod sagittis. Suspendisse et libero dapibus, gravida diam ac, consequat ipsum. Donec in justo efficitur, sollicitudin mauris ac, aliquam augue. Curabitur at metus ac sem vulputate lacinia. Vivamus sed condimentum turpis. Nam lectus justo, convallis porta molestie non, vulputate sit amet neque. Nunc vel urna ornare, rutrum sapien quis, convallis lorem. Nulla elit nulla, ullamcorper semper orci nec, vulputate sollicitudin lectus. Sed lacus nisi, pharetra vitae tempus in, pretium sit amet elit. Aliquam iaculis, libero vel vehicula finibus, dolor sapien imperdiet erat, nec volutpat ex velit varius ante. Sed convallis consectetur pellentesque.</p>
                                        <p>Sed quis euismod augue. Morbi id sagittis est. Nunc tempus venenatis dui. Aliquam non magna tincidunt, molestie nisl a, pulvinar arcu. Ut leo lacus, faucibus ullamcorper ipsum vel, venenatis pharetra tortor. Morbi facilisis, sapien non maximus vehicula, ligula diam tempus nisi, non ornare mi mi vitae ex. Praesent volutpat consequat tortor, eu commodo arcu ornare eu. Donec dictum velit ut scelerisque commodo. Mauris auctor est id risus venenatis varius. Sed efficitur consequat tempor. </p>
									</div>
									<div id="sc_tabs_1_2" class="sc_tabs_content even panel entry-content wc-tab">                                        
										<div id="reviews">
                                            <div id="review_form_wrapper">
                                                <div id="review_form">
                                                    <div id="respond" class="comment-respond">
                                                        <form action="#" method="post" id="commentform" class="comment-form">
                                                            <p class="comment-form-author">
                                                                <label for="author">Name <span class="required">*</span></label>
                                                                <input id="author" name="author" type="text" value="" size="30" aria-required="true" />
                                                            </p>
                                                            <p class="comment-form-email">
                                                                <label for="email">Email <span class="required">*</span></label>
                                                                <input id="email" name="email" type="text" value="" size="30" aria-required="true" />
                                                            </p>
                                                            <div class="comment-form-rating">
                                                                <label for="rating">Your Rating</label>																
																<p class="stars">
																	<span>
																		<a href="#" class="star-1">1</a>
																		<a href="#" class="star-2">2</a>
																		<a href="#" class="star-3">3</a>
																		<a href="#" class="star-4">4</a>
																		<a href="#" class="star-5">5</a>
																	</span>
																</p>				
                                                                <select name="rating" id="rating" class="disp_none">
                                                                    <option value="">Rate&hellip;</option>
                                                                    <option value="5">Perfect</option>
                                                                    <option value="4">Good</option>
                                                                    <option value="3">Average</option>
                                                                    <option value="2">Not that bad</option>
                                                                    <option value="1">Very Poor</option>
                                                                </select>
                                                            </div>
                                                            <p class="comment-form-comment">
                                                                <label for="comment">Your Review</label>
                                                                <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                                            </p>
                                                            <p class="form-submit">
                                                                <input name="submit" type="submit" id="submit" class="submit" value="Submit" />
                                                            </p>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
									</div>
								</div>
								<!-- /Tabs -->
								<!-- Related products -->
                                <div class="related products">
                                    <h2>Related Products</h2>
                                    <ul class="products">
                                        <li class="first product type-product has-post-thumbnail">
                                            <a href="#"></a>
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="#">
															<img src="http://placehold.it/300x300" alt="" /> 
														</a>
													</div>
												</div>
												<div class="post_content">
													<h3><a href="#">Video Training for Microsoft products and technologies</a></h3>
													<div class="star-rating" title="Rated 5.00 out of 5">
														<span class="width_100per">
															<strong class="rating">5.00</strong> out of 5
														</span>
													</div>
													<span class="price"><span class="amount">&pound;150.00</span></span>
													<a href="#" class="button add_to_cart_button product_type_simple">Add to cart</a> 
												</div>
											</div>
                                        </li>
                                        <li class="last product type-product has-post-thumbnail">
                                            <a href="#"></a>
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="#">
															<img src="http://placehold.it/300x300" alt="masonry_05" /> 
														</a>
													</div>
												</div>
												<div class="post_content">
													<h3>
														<a href="#">Principles of Written English, Part 1</a>
													</h3>
													<span class="price"><span class="amount">&pound;85.00</span></span>                                     
													<a href="#" class="button add_to_cart_button product_type_simple">Add to cart</a> 
												</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>					
					<!-- /Content -->
                    <!-- Sidebar -->
                    <div class="sidebar widget_area bg_tint_light sidebar_style_light">
						<!-- Product category widget -->
                        <aside class="woocommerce">
                            <h5 class="widget_title">Product Categories</h5>
                            <ul class="product-categories">
                                <li><a href="product-category.html">Computer</a>
									<span class="count">(1)</span>
								</li>
                                <li>
									<a href="product-category.html">Courses</a> 
									<span class="count">(0)</span>
								</li>
                                <li>
									<a href="product-category.html">Language</a> 
									<span class="count">(2)</span>
								</li>
                                <li>
									<a href="product-category.html">Marketing</a> 
									<span class="count">(2)</span>
								</li>
                                <li>
									<a href="product-category.html">Medicine</a> 
									<span class="count">(2)</span>
								</li>
                                <li>
									<a href="product-category.html">Products</a> 
									<span class="count">(8)</span>
								</li>
                            </ul>
                        </aside>
						<!-- /Product category widget -->
						<!-- Recent products widget -->
                        <aside class="woocommerce">
                            <h5 class="widget_title">Recent Products</h5>
                            <ul class="product_list_widget">
                                <li>
                                    <a href="course.html" title="">
                                        <img src="http://placehold.it/75x75" alt="" /> 
										<span class="product-title">Leather Cap</span>
                                    </a>
                                    <span class="amount">&pound;20.00</span></li>
                                <li>
                                    <a href="course.html" title="">
                                        <img src="http://placehold.it/75x75" alt="" /> 
										<span class="product-title">Star Print Backpack</span>
                                    </a>
                                    <span class="amount">&pound;41.39</span>
								</li>
                                <li>
                                    <a href="course.html" title="Long Sleeve Top With  Raglan Sleeve">
                                        <img src="http://placehold.it/75x75" alt="" /> 
										<span class="product-title">Long Sleeve Top With  Raglan Sleeve</span>
                                    </a>
                                    <span class="amount">&pound;33.25</span>
								</li>
                                <li>
                                    <a href="course.html" title="Yellow Backpack">
                                        <img src="http://placehold.it/75x75" alt="" /> 
										<span class="product-title">Yellow Backpack</span>
                                    </a>
                                    <span class="amount">&pound;74.19</span>
								</li>
                            </ul>
                        </aside>
						<!-- /Recent products widget -->
						<!-- Product tags widget -->
                        <aside class="woocommerce widget_product_tag_cloud">
                            <h5 class="widget_title">Product Tags</h5>
                            <div class="tagcloud">
								<a href="product-tag.html" title="2 topics">backpacks</a>
                                <a href="product-tag.html" title="3 topics">books</a>
                                <a href="product-tag.html" title="1 topic">caps</a>
                                <a href="product-tag.html" title="1 topic">clothes</a>
                                <a href="product-tag.html" title="1 topic">computer</a>
                                <a href="product-tag.html" title="6 topics">courses</a>
                                <a href="product-tag.html" title="1 topic">design</a>
                                <a href="product-tag.html" title="1 topic">geology</a>
                                <a href="product-tag.html" title="2 topics">language</a>
                                <a href="product-tag.html" title="1 topic">maps</a>
                                <a href="product-tag.html" title="2 topics">marketing</a>
                                <a href="product-tag.html" title="2 topics">medicine</a>
                                <a href="product-tag.html" title="1 topic">music</a>
                                <a href="product-tag.html" title="2 topics">seo</a>
                                <a href="product-tag.html" title="1 topic">soft</a></div>
                        </aside>
						<!-- /Product tags widget -->
						<!-- Top rated products widget -->
                        <aside class="woocommerce">
                            <h5 class="widget_title">Top Rated Products</h5>
                            <ul class="product_list_widget">
                                <li>
                                    <a href="product-sample.html" title="Star Print Backpack">
                                        <img src="http://placehold.it/75x75" alt="" /> 
										<span class="product-title">Star Print Backpack</span>
                                    </a>
                                    <div class="star-rating" title="Rated 5.00 out of 5">
										<span class="width_100per">
											<strong class="rating">5.00</strong> out of 5
										</span>
									</div> 
									<span class="amount">&pound;41.39</span>
								</li>
                                <li>
                                    <a href="product-sample.html" title="Principles of Written English, Part 2">
                                        <img src="http://placehold.it/75x75" alt="" /> 
										<span class="product-title">Principles of Written English, Part 2</span>
                                    </a>
                                    <div class="star-rating" title="Rated 5.00 out of 5">
										<span class="width_100per">
											<strong class="rating">5.00</strong> out of 5
										</span>
									</div> 
									<span class="amount">&pound;85.00</span>
								</li>
                                <li>
                                    <a href="product-sample.html" title="Video Training for Microsoft products and technologies">
                                        <img src="http://placehold.it/75x75" alt="" /> 
										<span class="product-title">Video Training for Microsoft products and technologies</span>
                                    </a>
                                    <div class="star-rating" title="Rated 5.00 out of 5">
										<span class="width_100per">
											<strong class="rating">5.00</strong> out of 5
										</span>
									</div> 
									<span class="amount">&pound;150.00</span>
								</li>
                                <li>
                                    <a href="product-sample.html" title="Yellow Backpack">
                                        <img src="http://placehold.it/75x75" alt="" /> 
										<span class="product-title">Yellow Backpack</span>
                                    </a>
                                    <div class="star-rating" title="Rated 4.00 out of 5">
										<span class="width_80per">
											<strong class="rating">4.00</strong> out of 5
										</span>
									</div> 
								<span class="amount">&pound;74.19</span></li>
                            </ul>
                        </aside>
						<!-- /Top rated products widget -->
                    </div>
                    <!-- /Sidebar -->
                </div>
            </div>
            <!-- /Content -->
			<!-- Contacts Footer  -->
            <footer class="contacts_wrap bg_tint_dark contacts_style_dark">
                <div class="content_wrap">
                    <div class="logo">
                        <a href="index.html">
							<img src="http://placehold.it/259x30" alt="">
						</a>
                    </div>
                    <div class="contacts_address">
                        <address class="address_right">
							Phone: 1.800.123.4567<br>
							Fax: 1.800.123.4566
						</address>
                        <address class="address_left">
							San Francisco, CA 94102, US<br>	
							1234 Some St
						</address>
                    </div>
                    <div class="sc_socials sc_socials_size_big">
                        <div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_facebook">
								<span class="sc_socials_hover social_facebook"></span>
							</a>
						</div>
                        <div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_pinterest">
								<span class="sc_socials_hover social_pinterest"></span>
							</a>
						</div>
                        <div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_twitter">
								<span class="sc_socials_hover social_twitter"></span>
							</a>
						</div>
                        <div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_gplus">
								<span class="sc_socials_hover social_gplus"></span>
							</a>
						</div>
                        <div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_rss">
								<span class="sc_socials_hover social_rss"></span>
							</a>
						</div>
                        <div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_dribbble">
								<span class="sc_socials_hover social_dribbble"></span>
							</a>
						</div>
                    </div>
                </div>
            </footer>
            <!-- /Contacts Footer -->
			<!-- Copyright -->
            <div class="copyright_wrap">
                <div class="content_wrap">
                    <p>© 2015 All Rights Reserved. <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a></p>
                </div>
            </div>
			<!-- /Copyright -->
        </div>
    </div>
    <!-- /Body -->
    <a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

    <div class="custom_html_section"></div>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/jquery-migrate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'digiTech/js/jquery/ui/core.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/ui/widget.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/ui/tabs.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/ui/effect.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/ui/effect-fade.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'digiTech/js/jquery/jquery.blockUI.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/jquery.cookie.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'digiTech/js/global.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/core.utils.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/core.init.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/shortcodes/shortcodes.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'digiTech/js/superfish.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery.slidemenu.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'digiTech/js/mediaelement/mediaelement-and-player.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/mediaelement/wp-mediaelement.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'digiTech/js/core.messages/core.messages.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'digiTech/js/jquery.isotope.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'digiTech/js/hover/jquery.hoverdir.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'digiTech/js/prettyPhoto/jquery.prettyPhoto.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/swiper/idangerous.swiper-2.7.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/swiper/idangerous.swiper.scrollbar-2.4.min.js' %}"></script>
	
	<!--<script type="text/javascript" src="js/core.customizer/front.customizer.min.js"></script>
	<script type="text/javascript" src="js/skin.customizer.min.js"></script>-->

</body>

</html>