<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% load static %}
    <title>在线课程 | Ky Coding</title>
 	<link rel="icon" type="image/x-icon" href="{% static 'digiTech/images/favicon.ico' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.3.1" type="text/css" media="all" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,700,700italic&#038;subset=latin,latin-ext,cyrillic,cyrillic-ext" type="text/css" media="all" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister:400&#038;subset=latin" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'digiTech/css/fontello/css/fontello.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'digiTech/js/rs-plugin/settings.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'digiTech/css/woocommerce/woocommerce-layout.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/css/woocommerce/woocommerce-smallscreen.css' %}" type="text/css" media="only screen and (max-width: 768px)" />
    <link rel="stylesheet" href="{% static 'digiTech/css/woocommerce/woocommerce.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/css/woo-style.css' %}" type="text/css" media="all"/>

    <link rel="stylesheet" href="{% static 'digiTech/css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/css/shortcodes.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/css/core.animation.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/css/tribe-style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/css/skins/skin.css' %}" type="text/css" media="all" />

	<link rel="stylesheet" href="{% static 'digiTech/css/core.portfolio.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/js/mediaelement/mediaelementplayer.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/js/mediaelement/wp-mediaelement.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/js/prettyPhoto/css/prettyPhoto.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/js/core.customizer/front.customizer.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'digiTech/js/core.messages/core.messages.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/js/swiper/idangerous.swiper.min.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'digiTech/css/responsive.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'digiTech/css/skins/skin-responsive.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'digiTech/css/custom-style.css' %}" type="text/css" media="all" />
	
</head>

<body class="page body_style_wide body_filled article_style_boxed template_single-standard top_panel_style_light top_panel_opacity_solid top_panel_above menu_right sidebar_show sidebar_right">
    <a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-angle-double-up" data-url="" data-separator="yes"></a>
	<!-- Body -->
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <header class="top_panel_wrap bg_tint_light">
				<!-- User menu -->
                <div class="menu_user_wrap">
                    <div class="content_wrap clearfix">
                        <div class="menu_user_area menu_user_right menu_user_nav_area">
                            <ul id="menu_user" class="menu_user_nav">
                                <li class="menu_user_cart">
                                    <a href="#" class="cart_button"><span>购物车</span></a>
									<ul class="widget_area sidebar_cart sidebar fadeOutDown animated fast">
										<li class="">
											<div class="widget woocommerce widget_shopping_cart">
												<div class="hide_cart_widget_if_empty">
													<div class="widget_shopping_cart_content">
														<ul class="cart_list product_list_widget ">
															<li class="mini_cart_item">
																<a title="Remove this item" class="remove" href="#">×</a>
																<a href="course.html">
																	<img alt="" src="http://placehold.it/50x50">Introduction to Biomedical Imaging&nbsp;
																</a>
																<span class="quantity">1 × <span class="amount">£350.00</span></span>
															</li>
															<li class="mini_cart_item">
																<a title="Remove this item" class="remove" href="#">×</a>
																<a href="course.html">
																	<img alt="" src="http://placehold.it/50x50">Introduction to Computer Science&nbsp;
																</a>
																<span class="quantity">1 × <span class="amount">£120.00</span></span>
															</li>
															<li class="mini_cart_item">
																<a title="Remove this item" class="remove" href="#">×</a>
																<a href="course.html">
																	<img alt="" src="http://placehold.it/50x50">Star Print Backpack&nbsp;
																</a>
																<span class="quantity">1 × <span class="amount">£41.39</span></span>
															</li>
														</ul>
														<p class="total"><strong>Subtotal:</strong> <span class="amount">£511.39</span></p>
														<p class="buttons">
															<a class="button wc-forward" href="cart.html">View Cart</a>
															<a class="button checkout wc-forward" href="checkout.html">Checkout</a>
														</p>
													</div>
												</div>
											</div>
										</li>
									</ul>
                                </li>

                                 {% if user.is_authenticated %}
                                <li class="menu_user_controls">
                                    <a href="#">
										<span class="user_avatar">
											<img alt="" src="http://1.gravatar.com/avatar/45e4d63993e55fa97a27d49164bce80f?s=16&#038;d=mm&#038;r=g" srcset="http://1.gravatar.com/avatar/45e4d63993e55fa97a27d49164bce80f?s=32&amp;d=mm&amp;r=g 2x" class="avatar avatar-16 photo" height="16" width="16" />
										</span>
										<span class="user_name">{{ user.username }}</span></a>
                                    <ul>
                                        <li><a href="#" class="icon icon-doc-inv">我的课程</a></li>
                                        <li><a href="#" class="icon icon-cog-1">用户设置</a></li>
                                    </ul>
                                </li>

                                <li class="menu_user_logout">
									<a href="{% url 'logout' %}" class="icon icon-logout">注销</a>
								</li>
                                {% else %}
                                <li class="menu_user_logout">
									<a href="{% url 'login' %}" class="icon icon-logout">登录</a>
								</li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="menu_user_area menu_user_left menu_user_contact_area">Contact us on 0 800 123-4567 or <a href="#">support@themerex.net</a></div>
                    </div>
                </div>
				<!-- /User menu -->
				<!-- Main menu -->
                <div class="menu_main_wrap logo_left">					
                    <div class="content_wrap clearfix">
						<!-- Logo -->
                        <div class="logo">
                            <a href="index.html">
								<img src="http://placehold.it/259x30" class="logo_main" alt="">
								<img src="http://placehold.it/259x30" class="logo_fixed" alt="">
							</a>
                        </div>
						<!-- Logo -->
						<!-- Search -->
                        <div class="search_wrap search_style_regular search_ajax" title="Open/close search form">
                            <a href="#" class="search_icon icon-search-2"></a>
                            <div class="search_form_wrap">
                                <form method="get" class="search_form" action="#">
                                    <button type="submit" class="search_submit icon-zoom-1" title="Start search"></button>
                                    <input type="text" class="search_field" placeholder="" value="" name="s" title="" />
                                </form>
                            </div>
                            <div class="search_results widget_area bg_tint_light">
                                <a class="search_results_close icon-delete-2"></a>
                                <div class="search_results_content">
							</div>
                            </div>
                        </div>
						<!-- /Search -->
						<!-- Navigation -->
                        <a href="#" class="menu_main_responsive_button icon-menu-1"></a>
						<nav class="menu_main_nav_area">
							<ul id="menu_main" class="menu_main_nav">
								<li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent">
									<a href="{% url 'home' %}">主页</a>
								</li>
								<li class="menu-item menu-item-has-children"><a href="{% url 'all_courses' %}">课程</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="courses-streampage.html">All courses</a></li>
										<li class="menu-item"><a href="free-course.html">Free course</a></li>
										<li class="menu-item"><a href="paid-course.html">Paid course</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Lessons</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="free-lesson.html">Free lesson (started)</a></li>
												<li class="menu-item"><a href="free-lesson-coming-soon.html">Free lesson (coming soon)</a></li>
												<li class="menu-item"><a href="lesson-from-paid-course.html">Lesson from paid course</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="{% url 'team' %}">联系我们</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{% url 'team' %}">团队故事</a></li>
										<li class="menu-item"><a href="personal-page.html">博客</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="all_courses.html">活动信息</a></li>
							</ul>
						</nav>
						<!-- /Navigation -->
                    </div>
                </div>
				<!-- /Main menu -->
            </header>
			<!-- Page title -->
            <div class="page_top_wrap page_top_title page_top_breadcrumbs sc_pt_st1">
                <div class="content_wrap">
                    <h1 class="page_title">网站设计</h1>
                </div>
            </div>
			<!-- /Page title -->
			<!-- Content with sidebar -->
            <div class="page_content_wrap">
                <div class="content_wrap">
					<!-- Content -->
                    <div class="content">
                        <article class="post_item post_item_single page">							
                            <section class="post_content">
								<!-- Video player section -->
                                <div class="sc_section" data-animation="animated fadeInUp normal">
                                    <div class="sc_video_player">
                                        <div class="sc_video_frame sc_video_play_button hover_icon hover_icon_play width_100per" data-width="100%" data-height="647" data-video="&lt;iframe class=&quot;video_frame&quot; src=&quot;http://youtube.com/embed/636Dp8eHWnM?autoplay=1&quot; width=&quot;100%&quot; height=&quot;647&quot; frameborder=&quot;0&quot; webkitAllowFullScreen=&quot;webkitAllowFullScreen&quot; mozallowfullscreen=&quot;mozallowfullscreen&quot; allowFullScreen=&quot;allowFullScreen&quot;&gt;&lt;/iframe&gt;">
											<img alt="" src="http://placehold.it/690x388">
										</div>
                                    </div>
                                </div>
								<!-- /Video player section -->
                            </section>
                        </article>
                    </div>
                    <!-- /Content -->
                    <!-- Sidebar -->
                    <div class="sidebar widget_area bg_tint_light sidebar_style_light">
						<!-- Recent posts widget -->
                        <aside class="widget">
                            <article class="post_item first">
                                <div class="post_thumb">
									<img alt="" src="http://placehold.it/75x75"></div>
                                <div class="post_content">
                                    <h6 class="post_title">
										<a href="post-with-sidebar.html">Medical Chemistry: The Molecular Basis</a>
									</h6>

                                </div>
                            </article>
                        </aside>
						<!-- /Recent posts widget -->
                        <!-- Categories widget -->
                        <aside class="widget">
                            <h5 class="widget_title">目录</h5>
                            <ul>
                                <li><a href="masonry-2-columns.html">Masonry (2 columns)</a> (12)
                                    <ul class="children">
                                        <li><a href="masonry-3-columns.html">Masonry (3 columns)</a> (12)</li>
                                    </ul>
                                </li>
                                <li><a href="portfolio-2-columns.html">Portfolio (2 columns)</a> (12)
                                    <ul class="children">
                                        <li><a href="portfolio-3-columns.html">Portfolio (3 columns)</a> (12)</li>
                                    </ul>
                                </li>
                                <li><a href="post-formats.html">Post Formats</a> (10)
                                    <ul class="children">
                                        <li><a href="post-formats-with-sidebar.html">Post Formats with Sidebar</a> (10)</li>
                                    </ul>
                                </li>
                            </ul>
                        </aside>
						<!-- /Categories widget -->
                    </div>
                    <!-- /Sidebar -->
                </div>
            </div>
            <!-- /Content with sidebar -->
			<!-- Contacts Footer  -->
            <footer class="contacts_wrap bg_tint_dark contacts_style_dark">
                <div class="content_wrap">
                    <div class="logo">
                        <a href="index.html">
							<img src="http://placehold.it/259x30" alt="">
						</a>
                    </div>
                    <div class="contacts_address">
                        <address class="address_right">
							Phone: 1.800.123.4567<br>
							Fax: 1.800.123.4566
						</address>
                        <address class="address_left">
							San Francisco, CA 94102, US<br>	
							1234 Some St
						</address>
                    </div>
                    <div class="sc_socials sc_socials_size_big">
                        <div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_facebook">
								<span class="sc_socials_hover social_facebook"></span>
							</a>
						</div>
                        <div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_pinterest">
								<span class="sc_socials_hover social_pinterest"></span>
							</a>
						</div>
                        <div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_twitter">
								<span class="sc_socials_hover social_twitter"></span>
							</a>
						</div>
                        <div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_gplus">
								<span class="sc_socials_hover social_gplus"></span>
							</a>
						</div>
                        <div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_rss">
								<span class="sc_socials_hover social_rss"></span>
							</a>
						</div>
                        <div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_dribbble">
								<span class="sc_socials_hover social_dribbble"></span>
							</a>
						</div>
                    </div>
                </div>
            </footer>
            <!-- /Contacts Footer -->
			<!-- Copyright -->
            <div class="copyright_wrap">
                <div class="content_wrap">
                    <p>© 2015 All Rights Reserved. <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a></p>
                </div>
            </div>
			<!-- /Copyright -->
        </div>
    </div>
    <!-- /Body -->
    <a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

    <div class="custom_html_section"></div>

    <script type="text/javascript" src="{% static 'digiTech/js/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/jquery-migrate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'digiTech/js/jquery/ui/core.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/ui/widget.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/ui/tabs.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/ui/effect.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/ui/effect-fade.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'digiTech/js/jquery/jquery.blockUI.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/jquery.cookie.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery/ui/accordion.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'digiTech/js/global.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/core.utils.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/core.init.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/shortcodes/shortcodes.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'digiTech/js/rs-plugin/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/rs-plugin/jquery.themepunch.revolution.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'digiTech/js/slider_init.js' %}"></script>

    <script type="text/javascript" src="{% static 'digiTech/js/superfish.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/jquery.slidemenu.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'digiTech/js/mediaelement/mediaelement-and-player.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/mediaelement/wp-mediaelement.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'digiTech/js/core.messages/core.messages.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'digiTech/js/jquery.isotope.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'digiTech/js/hover/jquery.hoverdir.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'digiTech/js/prettyPhoto/jquery.prettyPhoto.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/swiper/idangerous.swiper-2.7.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digiTech/js/swiper/idangerous.swiper.scrollbar-2.4.min.js' %}"></script>

	
	<!--<script type="text/javascript" src="js/core.customizer/front.customizer.min.js"></script>
	<script type="text/javascript" src="js/skin.customizer.min.js"></script>-->

</body>

</html>